/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');

/* css */
@import url(../css/riset.css);
@import url(../jquery-css/slick-theme.css);
@import url(../jquery-css/slick.css);


/* scss */
@import '../scss/top.scss';

a {
    text-decoration: none;
    color:#222;
    :hover {
        color:#0066CC;
    }
}

p {
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.02em;

}

h3 {
    font-size: 80px;
    font-weight: bold;

}

h4 {
    font-size: 45px;
    font-weight: bold;
}