.container {
    width: 100%;
    margin: 0 auto;

}

header {
    width:80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;

}

.header-title {
    font-size: 28px;
    color:#222;
}

.header-nav ul {
    display: flex;
    li {
        list-style: none;
        margin: 0 20px;
        a {
            font-size: 22px;
        }
    }

}

main {
    margin: 120px 0 400px;   
}
.main-title {
    font-size: 80px;
    font-weight: 700;
    text-align: center;
}

.text-gradient {
    display: inline-block;
    font-weight: 900;
    background: -webkit-linear-gradient(45deg,#54d0ff,#9f92ff 20%,#ff7689 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: blue;
}
.company-detail {
    background-image: url(../image/company1.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 800px;
}
.skill-text {
    color:#fff;
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 30%;
    opacity: 0;
    transition: 3s;
    h3 {
        margin-bottom: 10px;
    }
    p {
        font-size: 30px;
    }
}

.skill-text.fadeIn {
    opacity: 1;
}

.service-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 250px 0;
    opacity: 0;
    transition: 3s;
    &:nth-child(even) {
        flex-direction: row-reverse;
    }
}
.service-item.fadeIn {
    opacity: 1;
    transform: translateX(-40px);
}

.sec-margin {
    margin: 200px 0;
}
.image {
    width: 500px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 60px;
}

.service-text {
    width:27%;
    a {
        margin: 10px 0;
        font-size: 18px;

    }
}

.past-work h3 {
    margin-bottom: 20px;
    text-align: center;
}

.slider1,
.slider2 {
    margin: 80px 0;
    img {
        padding: 20px;
        width: 240px;
        height: 300px;
        object-fit: cover;
        display: inline-block;
        border-radius: 40px;
    }

}
footer {
    text-align: center;
    ul {
        display: flex;
        justify-content: center;
        margin: 30px 0;
        li {
            list-style: none;
            margin: 0 30px;
            a {
                font-size: 22px;
            }
        }

    }
}
.sp-only {
    display: none;
}

/* tb */
@media (max-width:1024px) {
    header {
        width: 90%;
    }
    .slider1 img,
    .slider2 img {
        width: 185px;
        height: 185px;
    }
}

/* sp */

@media (max-width:599px) {
    .pc-only {
        display: none;
    }
    .sp-only {
        display: block;
    }

    h3 {
        font-size: 45px;
    }
    h4 {
        font-size: 30px;
    }
    header {
        width: 93%;
        height: 60px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        .header-title {
            font-size: 22px;
        }

  }
.humburger-btn span {
    display: block;
    background-color: #000;
    width: 40px;
    height: 4px;
    margin: 8px 0;
    border-radius: 10px;
    :hover {
        cursor: pointer;
    }
  }
  .humburger-menu {
    position: fixed;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    display: none;
    z-index: -1;
    li {
        margin: 120px 0;
        a {
            font-size: 40px;
            font-weight: 700;
            :hover {
                cursor: pointer;
            }
        }
    }
}
.humburger-menu.show {
    display: block;
}

main {
    margin: 150px 0 400px;
    .main-title {
        font-size: 45px;
    }
  }
  .skill-text {
    top: 37%;
    p {
        font-size: 18px;
    }
  }
  .service-text {
    width: 100%;
  }
  .service-img {
    width: 73%;
    margin-bottom: 15px;
  }
  .image {
    width: 100%;
    display: block;
    margin: 0 auto;

  }
.service-text {
    padding: 0 50px;
    h4 {
        margin-bottom: 10px; 
    }
}
.slider1,
.slider2 {
    margin: 25px 0;  
}
.slider1 img,
.slider2 img {
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 10px;
 }
 footer ul {
    margin: 30px 0;
    li {
        margin: 0 10px;
        a {
            font-size: 12px;
        }
    }

 }

}

